<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container vue">
        {% block body %}{% endblock %}
     </div>
     <footer class="container-fluid bg-dark foot">
     <div>
        <p class="lead text-white foo">production Germain alain {{'now'|date('Y') }}</p>
     </div>
     </footer>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
